.jumbotron {
  background-image: url("/assets/img/burgerBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 10px;
}

.jumbotron > h1 {
  font-family: 'Germania One', cursive;
}

#newburger {
  border-radius: 5px;
  height: 30px;
  margin-top: 15px;
}

#color-override {
  color: #1b1b1b;
}

#lefthead {
  background-color: #5cb85c;
  color: white;
  text-align: center;
  font-size: 1.5em;
}

#eatbutton, #trashbutton {
  float: right;
}

#righthead {
  background-color: #f0ad4e;
  color: white;
  text-align: center;
  font-size: 1.5em;
}